*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    margin: 2rem;
}

.container{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.container .card{
    border: 1px solid lightgray;
    padding: 15px;
}

.card .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-profile{
    display: flex;
    align-items: center;
}

.header-profile .profile-img img{
    width: 3rem;
    height: 3rem;
    border-radius: 4rem;
    object-fit: cover;
    object-position: center center;
}

.header-profile .profile-text{
    margin-left: 1rem;
}

.profile-text .profile-name p{
    font-size: 18px;
    font-weight: 900;
}
.profile-text .profile-date{
    font-size: 14px;
}

.header .header-logo img{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}

.card .body {
    margin: 0px;
    padding: 0px;
}

.card .body .body-image img{
    margin: 1rem 0 1rem 0;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
}

.divide{
    height: 1px;
    background-color: lightgray;
    border: none;
    margin: 1rem 0 1rem 0;
}

.card .footer{
    display: flex;
    align-items: center;
}

.footer svg{
    margin-right: 10px;
    width: 20px;
    aspect-ratio: 1/1;
}

.footer p{
    font-size: 15px;
}


.card{
    display: none;
}
.card:nth-child(1){
    display: block;
}
.card:nth-child(2){
    display: block;
}
.card:nth-child(3){
    display: block;
}
.card:nth-child(4){
    display: block;
}


.load-more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-more > .custom-btn{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 17px;
    margin: 25px;
    margin-bottom: 100px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #0d99ff;
}
.popup-container{
    position: fixed;
    z-index: 150;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.popup-container.active{
    display: grid;
    place-items: center;
}

.popup-card{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
    padding: 1rem;
    background-color: white;

}

.popup-card-body-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-card-image .activeImg{
    width: 100%;
    aspect-ratio: 1/1;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    object-position: center center;    
}
.popup-header-profile{
    display: flex;
    align-items: center;
}

.popup-profile-img img{
    width: 3rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
    border-radius: 5rem;
}
.popup-profile-text{
    margin-left: 1rem;
}
.popup-profile-text .popup-profile-name p{
    font-size: 18px;
    font-weight: 900;
    margin: 5px;
}
.popup-profile-text .popup-profile-date p{
    font-size: 14px;
    margin: 5px;
}

.popup-divide{
    height: 1px;
    background-color: lightgray;
    border: none;
    margin: 1rem 0 1rem 0;

}

.popup-caption{
    width: 400px;
}

.popup-caption p{
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}

.popup-footer{
    display: flex;
    align-items: center;
}

.popup-footer .popup-footer-heart .active {
    margin-right: 5px;
}

@media (min-width: 992px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
@media (max-width: 992px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .popup-container.active{
        display: none;
    }
}

@media (max-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .popup-container.active{
        display: none;
    }
}